.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    width: 100px;
    height: auto;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li {
    display: inline;
  }
  
  .navLinks a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #ff6347;
  }
  